.footer {
  background: #1c4a4f;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  text-decoration-color: red;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
}